<ul class="stuff-menu">
  <li class="gnome-name"><%= @gnome.name %></li>
  <li class="icons"><%= link_to image_tag('icon_small_larrow.png', :border => 0), gnomes_path %>
	<%= link_to 'back to list', gnomes_path%></li>
</ul>
<div id="new_gnome">
  <%= link_to 'New Gnome', login_url %>
</div>
<%= "created by #{@gnome.user} on #{@gnome.created_at.strftime("%b. %d, %Y.")}" %>
<br/>
<br/>
<br/>

<font class="gnomes-show">
  Name:
</font>
<%=h @gnome.name %>
<br/>

<font class="gnomes-show">
  Age:
</font>
<%=h @gnome.age %>
<br/>

<font class="gnomes-show">
  Gender:
</font>
<%=h @gnome.gender %>

<br/>
<div class="gnome-description">
  <%=h @gnome.description %>
</div>
<br/>
<div class="gnome-cost">
  Cost:
  <%=h @gnome.cost %> ArmadaBucks
</div>