%ul.stuff-menu
  %li.gnome-name= @gnome.name
  %li.icons
    = link_to image_tag('icon_small_larrow.png', :border => 0), admin_gnomes_path
    = link_to 'back to list', admin_gnomes_path
  - if @gnome.user == current_user
    %li.icons
      = link_to image_tag('icon_small_edit.png', :border => 0), edit_admin_gnome_path(@gnome)
      = link_to 'edit', edit_admin_gnome_path(@gnome)
    %li.icons
      = link_to image_tag('icon_small_delete.png', :border => 0), admin_gnome_path(@gnome)
      = link_to 'delete', admin_gnome_path(@gnome), :confirm => 'Are you sure?', :method => :delete
  %li= image_tag('icon_small_star_inactive.png', :border => 0)
#new_gnome
  = link_to 'New Gnome', new_admin_gnome_path
= "created by #{@gnome.user} on #{@gnome.created_at.to_s(:date)}"
%br/
%br/
%br/
.img
  = image_tag(@gnome.photo.url(:medium), :border => 0)
.attributes
  %font.gnomes-show
    Name:
  = h @gnome.name
  %br/
  %font.gnomes-show
    Age:
  = h @gnome.age
  %br/
  %font.gnomes-show
    Gender:
  = h @gnome.gender
  %br/
  .gnome-description
    = h @gnome.description
  %br/
  .gnome-cost
    Cost:
    \#{h @gnome.cost} ArmadaBucks
