<h1>My Gnomes</h1>

<div id="title">
  <h4><%= pluralize(@num_gnomes, "gnome") %> as of <%= Gnome.most_recent.created_at.strftime("%b. %d, %Y.") %></h4>
</div>


<br/>

<div id="new_gnome">
  <%= link_to 'New Gnome', new_members_gnome_path %>
</div>
<br/>
<br/>
<div class="paginate">
<%= will_paginate @gnomes %>
</div>

<br/>
<br/>
<br/>
<% if @num_gnomes > 0 %>
  <table>
  <% @gnomes.each do |gnome| %>
    <tr>
      <td>image</td>
      <td class="middle-stuff"><%=h link_to "#{gnome.name}", members_gnome_path(gnome) %> by <%=h gnome.user %> (<%=h gnome.cost %> ArmadaBucks) <%= image_tag('/images/icon_small_star_inactive.png') %><br/>
		<%=h truncate(gnome.description, :length => 70) %></td>
      <td><%= link_to (image_tag('/images/icon_small_show.png', :border => 0, :title => "Show #{gnome.name}")), members_gnome_path(gnome) %></td>
    <% if gnome.user == current_user %>
      <td><%= link_to (image_tag('/images/icon_small_edit.png', :border => 0, :title => "Edit #{gnome.name}")), edit_members_gnome_path(gnome) %></td>
      <td><%= link_to (image_tag('/images/icon_small_delete.png', :border => 0, :title => "Delete #{gnome.name}")), members_gnome_path(gnome), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<br />
