%ul.stuff-menu
  %li.gnome-name= "Editing #{@gnome.name}"
  %li.icons
    = link_to image_tag('icon_small_larrow.png', :border => 0), members_gnomes_path
    = link_to 'back to list', members_gnomes_path
  %li.icons
    = link_to image_tag('icon_small_delete.png', :border => 0), members_gnome_path(@gnome)
    = link_to 'delete', members_gnome_path(@gnome), :confirm => 'Are you sure?', :method => :delete
  %li= image_tag('icon_small_star_inactive.png', :border => 0)
= "created by #{@gnome.user} on #{@gnome.created_at.to_s(:date)}"
= render :partial => 'form', :locals => {:gnome => @gnome}
