%h1 All Gnomes
#title
  - if @num_gnomes == 0
    %h4= pluralize(@num_gnomes, "gnome")
  - else
    %h4
      = pluralize(@num_gnomes, "gnome")
      as of #{Gnome.most_recent.created_at.strftime("%b. %d, %Y.")}
%br/
#new_gnome
  = link_to 'New Gnome', new_members_gnome_path
%br/
%br/
.paginate
  = will_paginate @gnomes
%br/
%br/
%br/
- if @num_gnomes > 0
  %table
    - @gnomes.each do |gnome|
      %tr
        %td
          = image_tag(gnome.photo.url(:thumb), :border => 0)
        %td

          = render :partial => 'members/my_favorites/star.html.haml', :locals => {:gnome => gnome}
									
          = h link_to "#{gnome.name}", members_gnome_path(gnome)
          by #{h gnome.user} (#{h gnome.cost} ArmadaBucks) #{image_tag('/images/icon_small_star_inactive.png')}

          = render :partial => 'members/my_favorites/star.html.haml', :locals => {:gnome => gnome}

          -# form_remote_for form_path(current_user.id, gnome.id),
            # :url => form_action(current_user.id, gnome.id),
            # :method => form_method(current_user.id, gnome.id),
            # :html => {:id => "favourite_" + gnome.id.to_s, :class => "favourite_form_class"} do |f| 
            # = f.hidden_field :user_id, :value => current_user.id
            # = f.hidden_field :gnome_id, :value => gnome.id
            # = image_submit_tag('icon_small_star_inactive.png', :border=>0)
          
          %br/
          .desc{:id => "desc#{gnome.id}"}
            = h truncate(gnome.description, :length => 65)
            = more_link(gnome)
        %td= link_to image_tag('/images/icon_small_show.png', :border => 0, :title => "Show #{gnome.name}"), members_gnome_path(gnome)
        - if gnome.user == current_user
          %td= link_to image_tag('/images/icon_small_edit.png', :border => 0, :title => "Edit #{gnome.name}"), edit_members_gnome_path(gnome)
          %td= link_to image_tag('/images/icon_small_delete.png', :border => 0, :title => "Delete #{gnome.name}"), members_gnome_path(gnome), :confirm => 'Are you sure?', :method => :delete
%br/
