%h1 New gnome
- form_for([:members, @gnome], :html => {:multipart => :true}) do |f|
  = f.error_messages
  %p
    = f.label :photo
    %br/
    = f.file_field :photo
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :cost
    %br/
    = f.text_field :cost
  %p
    = f.label :age
    %br/
    = f.text_field :age
  %p
    Gender
    \#{f.radio_button :gender, 'Male'}
    \#{f.label :gender, 'Male', :value => 'Male'}
    \#{f.radio_button :gender, 'Female'}
    \#{f.label :gender, 'Female', :value => 'Female'}
    \#{f.radio_button :gender, 'Ambiguous'}
    \#{f.label :gender, 'Ambiguous', :value => 'Ambiguous'}
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.submit 'Create'
