<ul class="stuff-menu">
  <li class="gnome-name"><%= @gnome.name %></li>
  <li class="icons"><%= link_to image_tag('icon_small_larrow.png', :border => 0), members_gnomes_path %>
	<%= link_to 'back to list', members_gnomes_path %></li>
  <% if @gnome.user == current_user %>
  <li class="icons"><%= link_to image_tag('icon_small_edit.png', :border => 0), edit_members_gnome_path(@gnome) %>
	<%= link_to 'edit', edit_members_gnome_path(@gnome) %></li>
  <li class="icons"><%= link_to image_tag('icon_small_delete.png', :border => 0), members_gnome_path(@gnome) %>
	<%= link_to 'delete', members_gnome_path(@gnome), :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
  <li><%= image_tag('icon_small_star_inactive.png', :border => 0) %></li>
</ul>
<div id="new_gnome">
  <%= link_to 'New Gnome', new_members_gnome_path %>
</div>
<%= "created by #{@gnome.user} on #{@gnome.created_at.strftime("%b. %d, %Y.")}" %>
<br/>
<br/>
<br/>

<font class="gnomes-show">
  Name:
</font>
<%=h @gnome.name %>
<br/>

<font class="gnomes-show">
  Age:
</font>
<%=h @gnome.age %>
<br/>

<font class="gnomes-show">
  Gender:
</font>
<%=h @gnome.gender %>

<br/>
<div class="gnome-description">
  <%=h @gnome.description %>
</div>
<br/>
<div class="gnome-cost">
  Cost:
  <%=h @gnome.cost %> ArmadaBucks
</div>